@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Poppins', system-ui, sans-serif;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    height: 8px !important;
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: red;
}

body {
    background-color: #202022;
    color: #fff;
    overflow-x: hidden;
}
